.main{
    // background: '#f9f9f9';
    background-image: url('../../images/mainbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;

    .mainNavLayoutNotFull{
        margin: 3%;
        margin-top: 2%;
        margin-left: 2%;
        width: 80%;
    }

    .mainSideLayoutFull{
        margin: 3%;
        margin-top: 2%;
        width: 20%;
        margin-right: 2%;
    }

    .mainNavLayoutFull{
        margin: 3%;
        margin-top: 2%;
        margin-left: 2%;
        width: 95%;
    }

    .mainSideLayoutNotFull{
        margin: 3%;
        margin-top: 2%;
        width: 8%;
        margin-right: 2%;
    }

    .rowJukir{
        width: 80%;
        display: flex;
        flex-direction: row;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
        box-shadow: 2px 4px 10px rgba(64, 64, 64, 0.25);
        border-radius: 20px;
      
        .col-a, .col-b{
          width: 50% !important;
          margin-right: 10%;
          padding: 10px;
      
          .rows{
            display: flex;
            flex-direction: row !important;
            .col-1{
              width: 40%;
              align-self: center;
              margin: 5px;
            }
          
            .col-2{
              width: 60%;
              align-self: center;
              margin: 5px;
            }
        
            .col-1, .col-2{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #606060;
            }
          }
          
        } 
    
        @media(max-width: 576px){
          flex-direction: column !important;
    
          .col-a, .col-b{
            width: 100% !important;
            .rows{
              display: flex;
              flex-direction: column !important;
    
              .col-1, .col-2{
                width: 100%;
                display: flex;
                flex-direction: row !important;
              }
            }
    
            
          }
        }
      }
}
@media(max-width:768px){
    .main{
        display: block;
        .mainNavLayoutNotFull{
            // display: block;
            margin: 5%;
            width: 90%;
        }
    
        .mainSideLayoutFull{
            position: fixed;
            margin: 8%;
            margin-top: 5%;
            width: 84%;
            z-index: 999;
        }
    
        .mainNavLayoutFull{
            // display: block;
            margin: 5%;
            width: 90%;
        }

        .mainSideLayoutNotFull{
            display: none;
        }
    }
}