.main{
    // background: '#f9f9f9';
    background-image: url('../../images/mainbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;

    .mainNavLayoutNotFull{
        margin: 3%;
        margin-top: 2%;
        margin-left: 2%;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .mainSideLayoutFull{
        margin: 3%;
        margin-top: 2%;
        width: 20%;
        margin-right: 2%;
    }

    .mainNavLayoutFull{
        margin: 3%;
        margin-top: 2%;
        margin-left: 2%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .mainSideLayoutNotFull{
        margin: 3%;
        margin-top: 2%;
        width: 8%;
        margin-right: 2%;
    }

    .pageTitle{
        color: #606060;
        font-family: 'Inter';
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .dashboard {
        margin-top: 1vw;
    }
}
@media(max-width:768px){
    .main{
        display: block;
        .mainNavLayoutNotFull{
            // display: block;
            margin: 5%;
            width: 90%;
        }
    
        .mainSideLayoutFull{
            position: fixed;
            margin: 8%;
            margin-top: 5%;
            width: 84%;
            z-index: 999;
        }
    
        .mainNavLayoutFull{
            // display: block;
            margin: 5%;
            width: 90%;
        }

        .mainSideLayoutNotFull{
            display: none;
        }

        .ant-card-body p {
            color: #FFF;
            margin: 0;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
        }
    }
}