.sidebar {
  text-align: center;
  min-height: 90vh;
  background-color: #Fff;
  border-radius: 10px;
  filter: drop-shadow(2px 4px 30px rgba(64, 64, 64, 0.25));
  padding-top: 5%;
  padding-bottom: 5%;
  transition: 0.5s ease-in-out;

  .xbutton{
    display: none;
  }
  .burgerbutton{
    cursor: pointer;
    display: block;
    text-align: end;
  }

  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  .avatarSmall {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .nameDisplay{
    color: #606060;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .roleDisplay{
    color: #606060;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .logoutBtn{
    background: #FFD4B2;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    color: #555;
    text-decoration: none;
    color: #606060;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .menu {
    .menuItem {
      cursor: pointer;
      margin-top: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-decoration: none;
      color: #606060;

      &:hover, &.active {
        font-weight: bold;
        color: #606060;
      }
    }
  }
}

@media(max-width:768px){
  .sidebar{
    min-height: 80vh;
    .xbutton{
      display: block;
      text-align: end;
    }
    .burgerbutton{
      display: none;
    }

    .menu {
      .menuItem {
        margin-top: 30px;
      }
    }
  }
}